<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="restuarent" class="com.example.ordering.Restuarent" >
               <constructor-arg value="Food Palace"/>
        <constructor-arg value="Bangalore"/>
        <constructor-arg>
            <list>
                <value>South Indian</value>
                <value>North Indian</value>
            </list>
        </constructor-arg>
                   
     </bean>
     
     <bean id="customer" class="com.example.ordering.Customer" >
               <constructor-arg value="Indu"/>
        <constructor-arg value="1234567890"/>
        <constructor-arg value="Indian"/>
     </bean>
     
     <bean id="foodOrderService" class="com.example.ordering.FoodOrderService">
          <constructor-arg ref="customer"/>
        <constructor-arg ref="restaurant"/>
     </bean>
     
</beans>
